<!DOCTYPE html> <!-- tipul documentului, html, cerinta 1-->

<html lang="ro"> <!-- limbajul paginii, cerinta 1 -->

<head>
    <title>Tim's Music Shop</title> <!-- titlu corespunzator al paginii, cerinta 2 -->
    <!-- /* fara viewport nu merg media queries */ -->
    <meta name="keywords"
        content="magazin de muzică, instrumente cu clape, instrumente cu coarde, instrumente de suflat, muzică, instrumente, orgă, pian, pianină, vioară, violă, contrabas, chitară, mandolină, fluier, flaut, trompetă, trombon, ofertă instrumente, instrumente muzicale">
    <meta name="description"
        content="Tim's Music Shop - Acasa. Magazin de muzica. Instrumente de calitate la cel mai bun pret.">
    <%- include("../fragmente/head.ejs") %> <!-- includerea fisierului head.ejs -->
</head>

<%- include("../fragmente/header.ejs") %>

    <body>

        <main>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde libero odio nam commodi laborum minus
                dicta officia quas voluptates! Ea deserunt eligendi libero. Quas praesentium, quibusdam animi dicta esse
                tempore? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium assumenda beatae esse,
                modi quasi ad molestias eos porro culpa enim quis minima saepe libero deserunt sequi doloribus eligendi.
                Illum, dicta? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet laudantium accusantium
                ex totam odio, odit a obcaecati dolor assumenda veniam dignissimos consectetur, asperiores recusandae
                mollitia voluptatibus voluptas similique numquam cum!</p>
            <div id="container-galerie-animata">
                <div class="galerie_animata" id="galanim" style="--nrImg: <% locals.nrImagini %>">

                    <% var i=0; %>
                        <% for (let imag of locals.imagini) { %>
                            <% i=i + 1; %>
                                <% if(i> locals.nrImagini) { break; }%>
                                    <% var nume_imag=imag.fisier.split('\\'); %>
                                        <% nume_imag=nume_imag[nume_imag.length - 1]; %>
                                            <figure>
                                                <picture>
                                                    <source srcset="<%- imag.fisier_mediu %>"
                                                        media="(max-width:1000px)" />
                                                    <img src="<%- imag.fisier %>" alt=" imagine ">
                                                </picture>
                                                <figcaption><%-imag.descriere %></figcaption>
                                            </figure>
                                            <% } %>
                </div>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, maxime ipsum. Impedit odit,
                dolores iste sunt labore velit temporibus ratione veniam quia voluptatum. Magnam accusamus beatae enim
                incidunt consectetur quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, sit
                accusantium! Ratione voluptatum voluptate inventore atque ullam ea voluptatibus explicabo delectus,
                eligendi voluptatem perspiciatis quam, voluptates dignissimos quisquam nostrum velit. Lorem ipsum dolor,
                sit amet consectetur adipisicing elit. Atque laboriosam harum, iure vero corporis unde aliquam! In
                cumque facere repellat veniam id dolorem fuga suscipit? Ex at doloribus voluptatum aliquam? Lorem ipsum
                dolor sit amet consectetur, adipisicing elit. Soluta consequatur dolore recusandae laboriosam eveniet
                exercitationem iste pariatur accusamus debitis dolorum aperiam cupiditate sed doloremque facilis
                provident velit minus, itaque hic? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut corrupti
                amet officia. Minima, tempora unde sed ab eaque dicta, quam pariatur at ducimus ullam, laboriosam
                consectetur laborum totam quidem fugit.</p>

        </main>

        <%- include("../fragmente/footer.ejs") %>
    </body> <!-- cerinta 7, s-au folosit tagurile <p> si <ul>|| cerinta 4, impartirea body-ului -->

</html>

<!-- cerinta 9, pagina contine toate cuvintele cheie mentionate in head-->